<section class="blue-grey lighten-3">
    <div class="row">
        <div class="col l4 s10">
            <div class="profile">
                <div class="profile-top"></div>
                <div class="profile-body">
                    <div class="profile-pic"></div>
                    <div class="profile-info">
                        <div id="name-age">
                            <span id="name">Shishir Kumar</span>
                            <span id="age">##</span>
                        </div>
                        <span id="place">
                            San Diego
                        </span>                        
                    </div>
                    <div class="profile-stats">
                        <div class="stats">
                            <span class="number">567k</span>
                            <span class="stats-name">Followers</span>
                        </div>
                        <div class="stats">
                            <span class="number">67k</span>
                            <span class="stats-name">Likes</span>
                        </div>
                        <div class="stats">
                            <span class="number">140</span>
                            <span class="stats-name">Photos</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
</section>
