section {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
}

.row {
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
}
.col.s12.m7.l8 {
    margin: 0;
}

.card-image > img {
    width: 100%;
    height: 250px;
}
