<nav>
    <div class="nav-wrapper blue-grey darken-3">
        <a href="#" class="brand-logo">Angular Training</a>
        <ul id="nav-mobile" class="right">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
    </div>
</nav>